.projects {
    height: 100%;
    scroll-snap-align: center;
    color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-list {
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2.5%;
}

.project-block {
    display: flex;
    background-color: rgb(49, 53, 55);
    border-radius: 5%;
    text-decoration: none;
    color: rgb(232, 230, 227);
    width: 20%;
    transition: transform 0.5s ease;
}

.project-block:hover {
    transform: scale(1.05);
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6%;
    width: 100%;
    text-align: center;
}

.project-image {
    width: 25%;
    border-radius: 25%;
}

.project-content h2 {
    margin: 4% 0;
}

.project-content p {
    font-size: 90%;
    margin: 2.5% 0;
}

.project-content ul {
    list-style: disc;
    text-align: left;
    padding-left: 4%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.project-content ul li {
    margin-bottom: 2%;
}

.project-list h1 {
    text-align: center;
    font-size: 50%;
    margin-bottom: 8%;
}