.projects {
    height: 100vh;
    scroll-snap-align: center;
    color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-heading {
    text-align: center;
    margin-top: 20px;
}

.project-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.project-block {
    display: flex;
    background-color: lightgray;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    width: 400px;
    transition: transform 0.5s ease;
}

.project-block:hover {
    transform: scale(1.05);
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.project-image {
    width: 100px;
    height: 100px;
}

.project-content h2 {
    margin: 10px 0;
}

.project-content p {
    font-size: 14px;
    margin: 10px 0;
}

.project-content ul {
    list-style: disc;
    text-align: left;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-content ul li {
    margin-bottom: 5px;
}

.project-list h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}