.page {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.general {
    position: absolute;
    height: 100vh;
    background-color: black;
    background-size: 100% 100%;
    filter: brightness(70%);
    background-repeat: no-repeat;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: auto;
    top: 6vh;
    left: 0;
    right: 0;
    bottom: 0;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    overflow-x: hidden;
}