.experience {
    height: 100vh;
    scroll-snap-align: center;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}

.education {
    padding-left: 10vh;
    padding-right: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.education::before {
    content: '';
    position: absolute;
    width: 0.8vh;
    height: 50%;
    background-color: rgb(255, 255, 0);
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.education h1 {
    font-size: 5vh;
    margin: 1vh 0;
    margin-bottom: 5vh;
    color: #51da4c;
}

.education-list {
    display: grid;
    gap: 2vh;
}

.education-item {
    border: 0.8vh solid rgb(124, 115, 101);
    background-color: rgb(24, 26, 27);
    padding: 1.5vh;
    margin-bottom: 7vh;
    position: relative;
    transition: transform 0.7s ease;
}

.education-item:hover {
    transform: scale(1.15);
}

.education-item .university {
    color: #0074D9;
    font-weight: bold;
}

.education-item .description {
    color: white;
}

.work {
    border-left: 0.2vh solid lightgreen;
    padding-left: 15vh;
    margin-left: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10vh;
    width: 80vh;
}

.work::before {
    content: '';
    position: absolute;
    width: 0.8vh;
    height: 50%;
    background-color: rgb(255, 255, 0);
    top: 25%;
    left: 68%;
    transform: translateX(-50%);
    z-index: -1;
}

.work h1 {
    font-size: 5vh;
    margin: 1vh 0;
    margin-bottom: 2vh;
    color: #51da4c;
}

.work-list {
    display: grid;
    gap: 2vh;
}

.work-item {
    border: 0.8vh solid rgb(124, 115, 101);
    background-color: rgb(24, 26, 27);
    padding: 1.5vh;
    margin-bottom: 4vh;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.work-item:hover {
    transform: scale(1.05);
}

.work-logo {
    width: 7vh;
    margin-right: 2vh;
    border-radius: 5vh;
}

.work-details h2 {
    margin: 0;
}

.work-descriptions {
    margin-top: 2vh;
}

.work-descriptions {
    margin-top: 2vh;
    text-align: left;
}

.work-descriptions ul {
    list-style: none;
    padding: 0;
}

.work-descriptions li {
    position: relative;
    padding-left: 2vh;
    margin-bottom: 1vh;
    font-size: 1.6vh;
    line-height: 1.2;
}

.work-descriptions li::before {
    content: "\25CF";
    position: absolute;
    left: 0;
    color: white;
    font-size: 1.6vh;
}

.work-technologies {
    position: relative;
    display: inline-block;
}

.technologies {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.technology-icon {
    height: 5vh;
    border-radius: 2vh;
}

.one-technology {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 2.5vh 0 2.5vh;
}

.technology-para {
    align-items: center;
}
