.contact-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.contact-content {
    background-color: rgb(24, 26, 27);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    text-align: center;
    color: lightgray;
}

.contact-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
    color: lightgray;
}

.form-group label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: gray;
}

.form-group textarea {
    width: 90%;
    min-height: 150px;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
    resize: None;
    background-color: gray;
}

.button-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.send-button,
.close-button {
    background-color: rgb(100, 102, 103);
    color: #fff;
    border: none;
    width: 30%;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 9px;
}

.send-button:hover,
.close-button:hover {
    background-color: black;
}

.send-button {
    float: left;
}

.close-button {
    float: right;
}